/* Criação de Folha de Estilos (CSS) para desafio de código da DIO */
/* ÚLTIMA VEZ EDITADO: 06-11-23*/

    /* IMPORTANDO FONTES GLOBAIS */
    @import url('https://fonts.googleapis.com/css2?family=Raleway');

    /* CABEÇALHO */
    header {
      padding-top: 32px;
      padding-bottom: 48px;
      margin-bottom: 64px;
      border-bottom: 1px solid #33A8DB;
      background: url(../assets/images/banner.png),
                  linear-gradient(180deg, 
                  rgba(0, 0, 0, 1.00) 0%,
                  rgba(0, 98, 128, 0.45) 50%, 
                  rgba(0, 0, 0, 1.00) 100%);

    }
    
    /* CORPO DA PÁGINA */
    body {
      background-color: rgb(0, 0, 0);
    }

    /* CONTEÚDO DA PÁGINA */
    main {
      justify-content: center;
      align-items: center;
    }

    /* RODAPÉ */
    footer {
      padding-top: 64px;
      padding-bottom: 48px;
      margin-top: 64px;

      justify-content: center;
      align-items: center;
      border-top: 1px solid #33A8DB;

      background: linear-gradient(180deg, 
        rgba(51, 168, 219, 0.00) 0%, 
        rgba(51, 168, 219, 0.20) 100%);

      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    footer a {  /* Hiperlink do rodapé */
      color: #33A8DB;
    }
    
    /* =================================== */
    /* ============ ELEMENTOS ============ */
    /* =================================== */

    /* PARÁGRAFO BASE (Corpo do texto) */
    p, span {
      /* Cores */
      color: rgb(255, 255, 255);

      /* Parágrafo */
      text-align: center;
      line-height: normal;

      /* Fonte */
      font-family: 'Raleway', sans-serif;
      font-style: normal;      
      font-weight: 400;      
    }

    /* HEADER 1 (Título) */
    h1 {
      /* Estilo de Coloração */
      background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      /* Parágrafo */
      text-align: center;
      text-transform: uppercase;
      line-height: normal;

      /* Fonte */
      font-family: 'Raleway-Bold', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      
    }

    /* HEADER 2 (Subtítulo) */
    h2 {
      /* Cores */
      color: #33A8DB;
      
      /* Parágrafo */
      text-align: center;
      letter-spacing: 6.08px;
      text-transform: uppercase;

      /* Fonte */
      font-family: 'Raleway', sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;   

      /* Espaçamento */
      margin: 48px;
    }

    button {
      margin: 0 auto;
    }

    /* ================================= */
    /* ============ CLASSES ============ */
    /* ================================= */

    .banner-content {
      font-size: 20px;
      width: 40%;
      text-align: center;
      margin: 0 auto;    
    }

    .banner-content button{
      border: 2px solid #3BA1CD;
      background-color: transparent;  /*  mesmo que rgba(0,0,0,0.0); */
      color: #31A8DD;
      width: 326px;
      text-transform: uppercase;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 3.36px;

      margin-top: 32px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .logo {
      margin: 0 auto;
      margin-bottom: 16px;

      /* Círculo atrás do Logotipo */
      border-radius: 124px; /* 248/2 */
      background: rgba(0, 0, 0, 0.30);

      width: 248px;
      height: 224px;
      
    }

    .module {
      /* Cores */
      color: rgb(255, 255, 255);

      /* Parágrafo */
      /* text-align: center; NÃO PRECISA MAIS */
      line-height: 64px;

      /* Fonte */
      font-family: 'Raleway', sans-serif;
      font-style: normal;      
      font-weight: 400;

      /* Estilo */
      border-radius: 32px;
      border: 1px solid #33A8DB;
      background: #252525;
      box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;

      /* Tamanho e Posição */
      width: 480px;

      /* Espaçamento */
      margin: 0 auto;
      margin-top: 36px;
      margin-bottom: 36px;
    }

    .module span {
      color: #33A8DB;
    }

    /* ============================= */
    /* ============ IDs ============ */
    /* ============================= */

    #course-content {
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }

    #professional-challenges {
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }

    #professional-challenges p {
      margin-top: 32px;
    }

    #transform-world {
      /* Tamanho */
      height: 512px;

      /* Imagem */
      background-attachment: fixed; /* Efeito de Scroll */
      background-image: url(../assets/images/woman-code.png);
      background-size: cover;
      background-repeat: no-repeat;
            
      /* Bordas */
      border-top: 1px solid #33A8DB;
      border-bottom: 1px solid #33A8DB;
    }

    #transform-world p{
      text-align: left;
      margin-left: 128px;
      margin-top: 144px;
      width: 400px;

      color: #FFF;
      text-transform: lowercase;
      text-shadow: 3px 2px 0px #33A8DB;
      font-family: 'Raleway-Bold', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
