/* Criação de Folha de Estilos (CSS) para desafio de código da DIO */

/* CONFIGURAÇÕES MAIS UTILIZADAS COMO BASE */
a, p {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* NOME ABAIXO DO LOGOTIPO */
.teste-estilo { 
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

/* xxxxx */

/* xxxxx */

/* xxxxx */
